@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>Controller name: @Model.ControllerName</p>
<p>Action name: @Model.ActionName</p>
<p>Exception: @Model.Exception</p>

